*.png filter=lfs diff=lfs merge=lfs -text
bootstrap.min.css filter=lfs diff=lfs merge=lfs -text
babel.min.js filter=lfs diff=lfs merge=lfs -text
bootstrap.min.js filter=lfs diff=lfs merge=lfs -text
jquery-3.2.1.slim.min.js filter=lfs diff=lfs merge=lfs -text
popper.min.js filter=lfs diff=lfs merge=lfs -text
react-dom.production.min.js filter=lfs diff=lfs merge=lfs -text
react.production.min.js filter=lfs diff=lfs merge=lfs -text
